<%- include('partials/header') %>

<div class="jumbotron">
  <h1 class="display-4">Congratulation!</h1>
  <p class="lead">Finally you have sucessfully joined  Greater Equatoria Students Familly</p>
  <hr class="my-4">
  <p>Login to our Website we welcome you in our familly keep your email and password safe for futher login .</p>
  <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
</div>
<%- include('partials/header') %>
